.login-modal {
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
  }

  &__title {
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      padding: 1.2em;
      border-radius: 0.85em;
      border: 1px solid var(--text-color);
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  }

  &__error-box {
    background-color: #fde2e4;
    border: 1px solid #f5c2c7;
    color: #842029;
    padding: 1em;
    border-radius: 8px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    ul {
      margin: 0;
      padding-left: 1rem;
    }
  }

  &__switch {
    text-align: center;
    margin-top: 1rem;

    a {
      color: #4fc3f7;
    }
  }

  &__image {
    width: 50%;

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      height: auto;
      max-width: 100%;
    }
  }
}

::ng-deep button.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  z-index: 1;

  &:hover {
    border: none !important;
    background-color: var(--secundary-color) !important;
  }
}

@media screen and (max-width: 768px) {
  .login-modal {
    padding: 2em;

    &__card {
      width: 100%;
    }

    &__image {
      display: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .login-modal {
    &__title {
      font-size: 1.8em;
    }
  
    &__switch {
      font-size: .8em;
    }
  }
}

@media screen and (max-width: 425px) {
  .login-modal {
    &__title {
      font-size: 1.4em;
    }
  
    &__switch {
      font-size: .8em;
    }
  }
}