<section class="header">
    <div class="header__logotype"><img #logotype src="assets/icon-dark.svg" alt="logotype"></div>
    <div class="header__actions">
        <button #themeBtn class="header__actions__theme" (click)="toggleTheme()">
            <i #themeIcon class="pi pi-moon"></i>
            <span #themeText>Dark Mode</span>
        </button>
        <button class="header__actions__user">
            <i class="pi pi-user"></i>
            <span>Sign in / Login</span>
        </button>
    </div>
</section>