.character-section {
  .section-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
      font-size: 1.6rem;
      color: var(--text-color);
      margin-right: 1rem;
      margin-bottom: 0;
      line-height: 1;
      display: flex;
      align-items: center;
      height: 2.2rem;
    }

    .btn {
      background-color: var(--primary-color);
      color: var(--text-color);
      text-decoration: none;
      border-radius: 25px;
      padding: 0.6rem 1.2rem;
      display: inline-flex;
      align-items: center;
      align-self: center;
      font-size: 0.9rem;
      line-height: 1;
      height: 1.9rem;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: none;

      i {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  .grid-container {
    width: 100%;
    position: relative;
    overflow-x: auto;

    @media only screen and (max-width: 768px) {
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      padding-bottom: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .grid {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-bottom: 2em;

    app-card-character {
      width: 250px;
      flex: 0 0 auto;
    }

    @media only screen and (max-width: 768px) {
      flex-wrap: nowrap;
      width: max-content;
      padding-right: 1rem;

      app-card-character {
        width: 180px;
        flex: 0 0 auto;
      }
    }
  }
}
