.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;

  &__container-text,
  &__persons {
    padding: 1em;
  }

  &__container-text {
    width: 40%;
  }

  &__persons {
    width: 60%;
  }

  &__container-text {
    display: flex;
    flex-direction: column;

    &__text {
      gap: 1em;
      display: flex;
      flex-direction: column;
      color: var(--text-color);

      & .first-division {
        display: flex;
        font-size: 65px;
        flex-direction: column;
        font-family: "Lilita One", sans-serif;

        span:nth-of-type(2) {
          color: var(--secundary-color);
        }
      }

      & .secundary-division {
        & span {
          font-size: 1em;
        }
      }

      & .third-division {
        gap: 0.7em;
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        align-items: center;
        justify-content: space-between;

        &__actions {
          gap: 8px;
          border: none;
          display: flex;
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          align-items: center;
          padding: 0.6em 0.8em;
          border-radius: 1.5em;
          color: var(--text-color);
          justify-content: space-between;
          background: var(--primary-color);
          text-decoration: none;
        }

        &__actions:hover {
          background: var(--secundary-color);
        }
      }
    }
  }

  &__persons img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    object-position: center;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    &__container-text {
      &__text {
        & .first-division {
          font-size: 45px;
        }

        & .secundary-division {
          & span {
            font-size: 0.9em;
          }
        }

        & .third-division {
          &__actions {
            gap: 4px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__container-text {
      width: 100%;
      align-items: center;
      text-align: center;
    }

    &__persons {
      display: none;
    }
  }
}
