input {
  width: 100%;
  padding: 1.2em;
  border-radius: .85em;
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

::ng-deep button.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  z-index: 1;

  &:hover {
    border: none !important;
    background-color: var(--secundary-color) !important;
  }
}