<footer class="footer">
  <hr />
  <div class="footer-content">
    <div class="contact-section">
      <div class="about-content">
        <p><a href="https://exploit-experts.github.io/organization-portfolio/" target="_blank" rel="noopener noreferrer">About</a></p>
        <p><a href="https://exploit-experts.github.io/Docs-RickAndMorty/" target="_blank" rel="noopener noreferrer">Docs</a></p>
      </div>
      <div class="social-icons">
        <p><a href="mailto:exploitexpertsmail@gmail.com" target="_blank" rel="noopener noreferrer"><i class="pi pi-envelope"></i></a></p>
        <p><a href="https://github.com/Exploit-Experts" target="_blank" rel="noopener noreferrer"><i class="pi pi-github"></i></a></p>
      </div>
    </div>
  </div>
  <p>© {{ year }} Rick and Morty Database. All rights reserved.</p>
</footer>
