<div class="dialog-content">
    <button class="close-btn" (click)="close()">
      <i class="pi pi-times-circle"></i>
    </button>
    <div class="episode-info">
      <h2 class="episode-name">{{ episode.name }}</h2>
      <p class="info-item">
        <i class="pi pi-calendar"></i>
        <span class="text">Release: {{ episode.releaseDate | date }}</span>
      </p>
      
      <p class="info-item">
        <i class="pi pi-tag"></i>
        <span class="text">Code: {{ episode.episode }}</span>
      </p>
      
      <p class="info-item">
      <i class="pi pi-users"></i>
      <span class="text">
        <p>Characters: {{ characterNames }}</p>
      </span>
      </p>

    </div>
  </div>
  