@import "primeicons/primeicons.css";

:root {
  --bg-color: #1a1c1e;
  --text-color: #d9d9d9;
  --primary-color: #313234;
  --secundary-color: #11b0c8;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #313234;
  --primary-color: #f1f1f1;
  --secundary-color: #11b0c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  padding: 0 2em !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

