@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');

:root {
  --bg-color: #1a1c1e;
  --text-color: #d9d9d9;
  --primary-color: #313234;
  --secundary-color: #11b0c8;
  --p-mask-background: rgba(0, 0, 0, 0.4);
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #313234;
  --primary-color: #f1f1f1;
  --secundary-color: #11b0c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: var(--bg-color);
  padding: 1em 2.5em !important;
  font-weight: 400;
  font-family: "Inter", sans-serif, Helvetica;

  @media screen and (max-width: 30em) {
    padding: 1em 1.0em !important;
  }
}

.p-dialog-mask {
  transition: background-color 0.3s ease;
}

.p-dialog-content { 
  padding: 0 !important;
}